:root {
    --dark-font: #03045e;
    --mid-font: #023e8a;
    --light-bg: #ade8f4;
    --light-bg-tb: #caf0f8;
}

main * {
    margin: 0;
    padding: 1vh;
}

.dark-nf,
.dark-nf a {
    padding: 1vh;
    background-color: var(--light-bg) !important;
    color: var(--dark-font) !important;
}

img {
    width: 250px;
    float: left;
}

h2 {
    font-style: italic;
}


tr {
    color: var(--mid-font);
}

#idezet {
    font-size: 1.2em;
    text-align: center;
}

thead tr th {
    color: var(--dark-font);
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #FFF;
}

tbody tr:nth-child(odd) {
    background: var(--light-bg-tb);
}



footer {
    text-align: center;
}